body {
  margin: 0%;
}
.header {
  margin: auto;
  padding: 2px;
  height: 7vh;
  width: 100vw;
  background-color: rgb(123, 217, 255);
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 10px; */
}
.header_logo {
  height: 100%;
  width: 25vw;
  display: flex;
  justify-content: space-between;
}
.bug_Icon {
  color: white;
}

.heading {
  color: white;
  margin: 0%;
  font-family: Arial;
}
.profile_Icon {
  color: white;
}
.tracker {
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  height: 20vh;
  width: 95vw;
  background-color: teal;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0px 10px 20px 0px rgba(0, 1, 0, 0.5);
}

/* home page css */
.create-project {
  display: flex;
  flex-direction: row-reverse;
  margin: 5px;
}
.project-container-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.project-container {
  margin: 10px;
  height: 60vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  border-radius: 10px;
  box-shadow: 8px 8px 10px rgba(0, 130, 232, 0.4);
}
.project-avatar {
  height: 100%;
  width: 100%;
}
.project-avatar img {
  height: 100%;
  width: 100%;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
}
.project-name {
  display: flex;
  flex-direction: row-reverse;
}

.project-name h3 {
  margin: 5px;
}
